{% extends 'base.html.twig' %}

{% block title %}
	Hello HomeController!
{% endblock %}

{% block body %}

{% set images = [
    'voitureAudi.jpg',
    'voitureDucati.jpg',
    'voitureHonda.jpg',
    'voitureSeat.jpg',
    'voitureSkoda.jpg',
    'voitureVolkswagen.png'
] %}

<section class="position-relative overflow-hidden" style="height: auto;">

	<div class="bg-blur"></div>
	<div class="position-relative z-1">

		{############################# 
		#         NAVBAR 1           #
		##############################}
		<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-2">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<b>CB AUTOMOBILE</b>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-center text-uppercase" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" href="#">Qui sommes-nous ?</a>
						</li>
						<li class="nav-item ps-5">
							<a class="nav-link" href="#">Neuf</a>
						</li>
						<li class="nav-item ps-5">
							<a class="nav-link" href="#">Occasion</a>
						</li>
						<li class="nav-item ps-5">
							<a class="nav-link" href="#">Rendez-vous atelier</a>
						</li>
						<li class="nav-item ps-5">
							<a class="nav-link" href="#">Actualité</a>
						</li>
						<li class="nav-item ps-5">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		{############################# 
		#         NAVBAR 2           #
		##############################}
		<div class="container-fluid h-auto mt-2 border-none">
			<div class="row text-center text-light">
				<div class="col"><img src="{{ asset('media/logo/Audi.png') }}" alt="Audi" style="height: 40px;"><p class="text-uppercase">Audi</p>
				</div>
				<div class="col"><img src="{{ asset('media/logo/Volkswagen.png') }}" alt="Volkswagen" style="height: 40px;"><p class="text-uppercase">Volkswagen</p>
				</div>
				<div class="col"><img src="{{ asset('media/logo/Seat.png') }}" alt="Seat" style="height: 40px;"><p class="text-uppercase">Seat</p>
				</div>
				<div class="col"><img src="{{ asset('media/logo/Skoda.png') }}" alt="Skoda" style="height: 40px;"><p class="text-uppercase">Skoda</p>
				</div>
				<div class="col"><img src="{{ asset('media/logo/Honda.png') }}" alt="Honda" style="height: 40px;"><p class="text-uppercase">Honda</p>
				</div>
				<div class="col"><img src="{{ asset('media/logo/Ducati.png') }}" alt="Ducati" style="height: 40px;"><p class="text-uppercase">Ducati</p>
				</div>
			</div>
		</div>

		{############################# 
		#        GALERIE IMAGES      #
		##############################}
		{% set randomImages = images|shuffle %}
		<div class="container-fluid mt-3">
			<div class="container-sm" style="width: 600px">
				<div class="row g-0">
					{% for i in 0..8 %}
						{% set image = randomImages[i % randomImages|length] %}
						<div class="col-4 p-0">
							<img src="{{ asset('media/voiture/' ~ image) }}" alt="{{ image|split('.')|first }}" class="w-100" style="height: 170px; background-color: var(--bs-body-bg); object-fit: cover;">
						</div>
					{% endfor %}
				</div>
				<p class="w-100 d-flex justify-content-end text-light">Sed diam rutrum rhoncus eu.</p>
			</div>

			{############################# 
			#         BLOC TEXTE         #
			##############################}
			<div class="position-absolute text-light p-4 bg--dark" style="width: 550px; height: 200px; top: 250px; right: 25px;">
				<h2 class="h4 text-uppercase fw-semibold mt-4">Une page à mettre en avant</h2>
				<p class="fs-6">Commodo hendrerit odio diam, viverra convallis netus. Libero faucibus arcu varius ornare nisl nunc. Sit sed eu sed non.</p>
			</div>

			{############################# 
			#         TEXT LEFT          #
			##############################}
			<div class="position-absolute text-light" style="top: 500px; left: 160px;">
				<p class="fs-1 text-uppercase border-bottom border-2 border-light">cb automobile</p>
			</div>

			<div class="mw-100 d-flex" style="height: 85px">
				<div class="w-50 d-flex justify-content-end align-items-center bg--dark text-light">
					<p class="text-uppercase fs-3 fw-bold w-75">Lien un formulaire de contact</p>
				</div>
				<div class="w-50 border bg-light text-dark px-5 pt-3">
					<p class="fs-6">
						<b>Prise de contact pour RDV atelier (SAV)</b>tortor focibus. 
							Purus lacus, proin pellentesque ac tincidus ut vitae. Dui interdum at fringilla vitae ut et ispum. Sit.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

{############################# 
#       SECOND SECTION       #
##############################}

<section class="bg-light py-5 position-relative" style="min-height: 100vh;">
	<div class="container text-center mb-0 pb-0">
		<div class="row g-4">

			<!-- === PRIX EN BAISSE === -->
			<div class="col-12 col-md-4">
				<div class="card h-100 shadow-sm">
					<div class="card-header text-white text-uppercase fw-semibold" style="background-color: #190885;">
						Prix en baisse
					</div>
					<img src="{{ asset('media/prix/prixEnBaisseAudi.jpeg') }}" class="card-img-top" alt="Audi prix en baisse" style="height: 200px; object-fit: cover;">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<h5 class="card-title text-start text-uppercase mb-2 fw-bold">Prix €</h5>
							<div class="w-100 d-flex justify-content-between flex-row">
								<div>
									<p class="card-text text-start text-uppercase mb-3">Nom de la voiture</p>
								</div>
								<div>
									<span class="g-2">
										<i class="fa-regular fa-heart" style="cursor: pointer;"></i>
										<i class="fa-solid fa-magnifying-glass" style="cursor: pointer;"></i>
									</span>
								</div>
							</div>

							<div class="my-hr w-100 m-0 mb-4"></div>

							<div class="d-flex justify-content-evenly">
								<span>2018</span>
								<span>|</span>
								<span>Hybride</span>
								<span>|</span>
								<span>54 320 km</span>
							</div>
						</div>

						<div class="card-text text-start mt-3">
							<p>Retrouver ce model sur le site de Saint maximin Mattis donec vel condimentum feugiat lectus augue. Nisl dolor, sed facilisi...</p>
						</div>
						<div class="mt-3 text-center">
							<button href="#" class="btn-mi">En savoir plus</button>
						</div>
					</div>
				</div>
			</div>

			<!-- === PETIT PRIX === -->
			<div class="col-12 col-md-4">
				<div class="card h-100 shadow-sm">
					<div class="card-header text-white text-uppercase fw-semibold bg-success">
						Petit prix
					</div>
					<img src="{{ asset('media/prix/petitPrixVolkswagen.jpg') }}" class="card-img-top" alt="Volkswagen petit prix" style="height: 200px; object-fit: cover;">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<h5 class="card-title text-start text-uppercase mb-2 fw-bold">Prix €</h5>
							<div class="w-100 d-flex justify-content-between flex-row">
								<div>
									<p class="card-text text-start text-uppercase mb-3">Nom de la voiture</p>
								</div>
								<div>
									<span class="g-2">
										<i class="fa-regular fa-heart" style="cursor: pointer;"></i>
										<i class="fa-solid fa-magnifying-glass" style="cursor: pointer;"></i>
									</span>
								</div>
							</div>

							<div class="my-hr w-100 m-0 mb-4"></div>

							<div class="d-flex justify-content-evenly">
								<span>2018</span>
								<span>|</span>
								<span>Hybride</span>
								<span>|</span>
								<span>54 320 km</span>
							</div>
						</div>

						<div class="card-text text-start mt-3">
							<p>Retrouver ce model sur le site de Saint maximin Mattis donec vel condimentum feugiat lectus augue. Nisl dolor, sed facilisi...</p>
						</div>

						<div class="mt-3 text-center">
							<button href="#" class="btn-mi">En savoir plus</button>
						</div>
					</div>
				</div>
			</div>

			<!-- === PÉPITE === -->
			<div class="col-12 col-md-4">
				<div class="card h-100 shadow-sm">
					<div class="card-header text-dark text-uppercase fw-semibold bg-warning">
						Pépite
					</div>
					<img src="{{ asset('media/prix/pepiteSkoda.jpg') }}" class="card-img-top" alt="Skoda pépite" style="height: 200px; object-fit: cover;">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<h5 class="card-title text-start text-uppercase mb-2 fw-bold">Prix €</h5>
							<div class="w-100 d-flex justify-content-between flex-row">
								<div>
									<p class="card-text text-start text-uppercase mb-3">Nom de la voiture</p>
								</div>
								<div>
									<span class="g-2">
										<i class="fa-regular fa-heart" style="cursor: pointer;"></i>
										<i class="fa-solid fa-magnifying-glass" style="cursor: pointer;"></i>
									</span>
								</div>
							</div>

							<div class="my-hr w-100 m-0 mb-4"></div>

							<div class="d-flex justify-content-evenly">
								<span>2018</span>
								<span>|</span>
								<span>Hybride</span>
								<span>|</span>
								<span>54 320 km</span>
							</div>
						</div>

						<div class="card-text text-start mt-3">
							<p>Retrouver ce model sur le site de Saint maximin Mattis donec vel condimentum feugiat lectus augue. Nisl dolor, sed facilisi...</p>
						</div>
						<div class="mt-3 text-center">
							<button href="#" class="btn-mi">En savoir plus</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- === Bordereau === -->
	<div class="w-100 bg--dark position-relative" style="height: 85px; top: 48px">
		<div class="w-100 h-100 d-flex justify-content-center align-items-center">
			<p class="fs-3 text-light text-uppercase m-0">
				Trouver la voiture qui vous convient le mieux
				<i class="fa-solid fa-chevron-right ms-2"></i>
			</p>
		</div>
	</div>
</section>

{#############################
#       THIRD SECTION        #
##############################}
<section class="py-5 px-3 position-relative overflow-hidden d-flex justify-content-center align-items-center" style="min-height: 90vh;">

	<div class="bg-blur"></div>
	<div class="position-relative z-1">
		<div class="d-flex justify-content-center align-items-center flex-wrap gap-4">

			<!-- Image gauche -->
			<div class="d-flex align-items-center justify-content-center overflow-hidden rounded shadow-sm" style="width: 380px; height: 500px;">
				<img src="{{ asset('media/section3/imgCamionetteHandicape.jpg') }}" alt="Une camionnette pour les personnes atteintes d'un handicap" class="img-fluid w-100 h-100 object-fit-cover hover-zoom">
			</div>

			<!-- Bloc central interactif -->
			<div class="position-relative rounded shadow-lg overflow-hidden" style="width: 400px; height: 500px;">
				<!-- Image visible -->
				<img src="{{ asset('media/section3/imgEssaieVehicule.jpg') }}" class="img-fluid w-100 h-100 object-fit-cover"
				alt="Deux personnes qui parlent, une dans une voiture vitre baissée et l'autre à l’extérieur">

				<!-- Overlay (visible uniquement au hover) -->
				<div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center text-center text-white px-4 bg-dark bg-opacity-75">
					<h5 class="fw-bold mb-3">Essais de véhicules neufs sur RDV</h5>
					<p class="small mb-3">
						Sit cras est amet magna malesuada. Augue nam volutpat sed egestas ipsum lacus. 
											Vel venenatis, elementum, facilisi morbi amet integer. Rutrum nunc egestas dui scelerisque. 
											Risus duis eget arcu velit etiam duis aliquam. Sed mauris commodo fames feugiat non ultricies. 
											Dolor semper aliquet risus et.
					</p>
					<a href="#" class="text-uppercase fw-semibold text-white text-decoration-none mb-2">
						Nous contacter
					</a>
					<span class="fs-4"><i class="fa-solid fa-chevron-down" class="text-light"></i></span>
				</div>
			</div>

			<!-- Image droite -->
			<div class="d-flex align-items-center justify-content-center overflow-hidden rounded shadow-sm" style="width: 380px; height: 500px;">
				<img src="{{ asset('media/section3/imgDroiteSec3.jpg') }}" alt="Groupe de voitures vues de face au crépuscule" class="img-fluid w-100 h-100 object-fit-cover hover-zoom">
			</div>

		</div>
	</div>
</section>


{#############################
#       FOURTH SECTION        #
##############################}

<section class="h-auto px-3 py-2 bg-light">
	<div class="d-flex justify-content-center align-items-center flex-column mb-5">
		<p class="text-center text-uppercase fw-bold fs-5">Information sur cb automobile</p>
		<div class="row w-75">
			<div class="col">
				<div id="map" style="width: 100%; height: 500px;"></div>
				<div class="w-full d-flex justify-content-center bg--dark text-light">
					<p class="text-uppercase mt-2 fs-5">Link page qui sommes nous <span class="fs-6"><i class="fa-solid fa-chevron-right ms-2"></i></span></p>
				</div>
			</div>
			<div class="col pt-5 text-start">
				<p class="fw-semibold" style="padding-left: 5%;">informations pratique du groupe</p>
				<p style="padding-right: 25%; padding-left: 5%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. <br><br>
				Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. <br><br>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
				architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos 
				qui ratione voluptatem sequi nesciunt.<br><br>
				</p>
			</div>
		</div>


		<div class="row w-50" style="margin-top: 120px">
			<div class="col">
				<img src="{{ asset('media/section4/espace-st-maximin-audi.png') }}" 
					class="img-fluid object-fit-cover" 
					alt="Photo de l'exterieur de la concession Audi à Sainty-Maximin"
					style="height: 95%; width: 95%;"
				/>
			</div>
			<div class="col position-relative">
				<p class="text-uppercase text-start fw-bolder">Espace Saint Maximin</p>
				<p>Ornare dapidus sit pellentesque nisl dolor. Neque, aliquet ultricies in sit tristique.
				Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero.</p>

			<p class="text-uppercase fw-bolder position-absolute bottom-0"><i class="fa-solid fa-chevron-left me-3"></i>Lien vers la page de la concession</p>
			</div>
		</div>

		<div class="row w-50" style="margin-top: 90px">
			<div class="col ">
				<p class="text-uppercase text-start fw-bolder">Espace Saint Maximin</p>
				<p>Ornare dapidus sit pellentesque nisl dolor. Neque, aliquet ultricies in sit tristique.
				Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.</p>

				<p class="text-uppercase fw-bolder">Lien vers la page de la concession<i class="fa-solid fa-chevron-right ms-3"></i></p>
			</div>

			<div class="col" style="">
				<img src="{{ asset('media/section4/espace-st-maximim-seat.jpg ') }}" 
					class="img-fluid object-fit-cover" 
					alt="Photo de l'exterieur de la concession Seat à Sainty-Maximin" 
					style="height: 95%; width: 95%;"/>
			</div>
		</div>


		<div class="row w-50" style="margin-top: 90px">
			<div class="col" style="">
				<img src="{{ asset('media/section4/espace-saint-maximin-ducatti.jpg ') }}" 
					class="img-fluid object-fit-cover" 
					alt="Photo de l'exterieur de la concession Seat à Sainty-Maximin" 
					style="height: 95%; width: 95%;"/>
			</div>
			
			<div class="col position-relative">
				<p class="text-uppercase text-start fw-bolder">Apogée motors</p>
				<p>Ornare dapidus sit pellentesque nisl dolor. Neque, aliquet ultricies in sit tristique.
				Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.</p>

				<p class="text-uppercase fw-bolder position-absolute bottom-0">Lien vers la page de la concession<i class="fa-solid fa-chevron-right ms-2"></i></p>
			</div>
		</div>	
	</div>
</section>

<!-- === Bordereau === -->
<section class="position-relative overflow-hidden" style="height: 275px;">
	<div class="w-100 h-100 bg--dark position-relative bottom-0 start-0">
		<div class="bg-blur"></div>

		<div class="h-100 d-flex justify-content-center align-items-center position-relative z-1 text-start text-light">
			<i class="fa-solid fa-chevron-left fs-1 me-5"></i>
			<p class="w-50 fs-6 lh-md">
				Ornare dapidus sit pellentesque nisl dolor. Neque, aliquet ultricies in sit tristique.
				Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero
			</p>
			<span><i class="fa-solid fa-chevron-right fs-1 ms-5"></i></span>
		</div>
	</div>
</section>

{#############################
#       FIFTH SECTION        #
##############################}
<section class="bg-light py-5 px-3 mt-5 d-flex justify-content-center align-items-center" style="min-height: 90vh;">
	<div class="w-75">
		<div>
			<img src="{{ asset('media/section5/voiture-en-foret.png') }}" alt="Audi prix en baisse" class="object-fit-fill w-100" style="height: 650px">
		</div>

		<div class="mt-2 position-relative">
			<h3 class="text-uppercase fs-5 fw-bolder">Une actualité</h3>
			<p class="text-body-secondary">Elit neque pellentesque amet, pharetra diam, pellentesque tempus.</p>
			<span class="position-absolute start-95 top-25"><i class="fa-solid fa-chevron-right fs-2"></i></span>
		</div>
	</div>
</section>


{#############################
#       SIXTH SECTION        #
##############################}
<section class="position-relative overflow-hidden py-4" style="height: 550px;">

	<div class="bg-blur"></div>
	<div class="position-relative z-1 text-light">
		<div class="w-50 d-flex justify-content-end align-items-center gap-3 text-uppercase position-relative">
			<p class="fw-semibold fs-5">Les actualités</p>
			<p class="text-light fs-6">Page actualité</p>
			<i class="fa-solid fa-chevron-right fs-6 position-relative" style="bottom: 7px;"></i>
		</div>
		<div id="articlesCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="d-flex gap-3">
						<!-- CARD 1 -->
						<div class="w-25 overflow-hidden position-relative" style="height: 400px;">
							<img src="{{ asset('media/section6/concession-ducatti.jpg') }}" alt="Photo de la concession Ducatti" class="w-100 h-100 object-fit-cover">
							<div class="overlay-text position-absolute bottom-0 start-0 w-100 p-4">
								<h3 class="text-white fw-bold text-uppercase">Un article</h3>
								<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>

						<!-- CARD 2 -->
						<div class="w-25 overflow-hidden position-relative position-relative" style="height: 400px;">
							<img src="{{ asset('media/section6/concession-Volkswagen.jpg') }}" alt="Photo de la concession Volkswagen" class="w-100 h-100 object-fit-cover">
							<div class="overlay-text position-absolute bottom-0 start-0 w-100 p-4">
								<h3 class="text-white fw-bold text-uppercase">Un article</h3>
								<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>

						<!-- CARD 3 -->
						<div class="w-25 overflow-hidden position-relative position-relative" style="height: 400px;">
							<img src="{{ asset('media/section6/voitureVolkswagen.png') }}" alt="Photo de la voiture Volkswagen Golf Gti noir" class="w-100 h-100 object-fit-cover">
							<div class="overlay-text position-absolute bottom-0 start-0 w-100 p-4">
								<h3 class="text-white fw-bold text-uppercase">Un article</h3>
								<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>

						<!-- CARD 4 -->
						<div class="w-25 overflow-hidden position-relative position-relative" style="height: 400px;">
							<img src="{{ asset('media/section6/volkswagen-couche-de-soleil.jpg') }}" alt="Photo d'une voiture jauen sur la route avec en font un arc-en-ciel et sur au bord de mer" class="w-100 h-100 object-fit-cover">
							<div class="overlay-text position-absolute bottom-0 start-0 w-100 p-4">
								<h3 class="text-white fw-bold text-uppercase">Un article</h3>
								<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>

					</div>
				</div>

				<!-- DUPLIQUE UN DEUXIÈME SLIDE POUR L’AUTO-SCROLL -->
				<div class="carousel-item">
					<div class="d-flex gap-3">

						<!-- IMG 1 -->
						<div class="w-25 overflow-hidden position-relative position-relative" style="height: 400px;">
							<img src="{{ asset('media/section6/voitureVolkswagen.png') }}" alt="Photo de la voiture Volkswagen Golf Gti noir" class="w-100 h-100 object-fit-cover">
							<div class="overlay-text position-absolute bottom-0 start-0 w-100 p-4">
								<h3 class="text-white fw-bold text-uppercase">Un article</h3>
								<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>

						<!-- IMG 2 (Concession Ducati) -->
						<div class="w-25 overflow-hidden position-relative position-relative" style="height: 400px;">
							<img src="{{ asset('media/section6/concession-ducatti.jpg') }}" alt="Photo de la concession Ducatti" class="w-100 h-100 object-fit-cover">
							<div class="overlay-text position-absolute bottom-0 start-0 w-100 p-4">
								<h3 class="fw-bold text-uppercase">Un article</h3>
								<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>

						<!-- IMG 3 (Voiture coucher de soleil) -->
						<div class="w-25 overflow-hidden position-relative position-relative" style="height: 400px;">
							<img src="{{ asset('media/section6/volkswagen-couche-de-soleil.jpg') }}" alt="Photo d'une voiture jaune sur la route avec en font un arc-en-ciel et sur au bord de mer" class="w-100 h-100 object-fit-cover">
							<div class="overlay-text position-absolute bottom-0 start-0 w-100 p-4">
								<h3 class="text-white fw-bold text-uppercase">Un article</h3>
								<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>

						<!-- IMG 4 (Concession Volkswagen) -->
						<div class="w-25 overflow-hidden position-relative position-relative" style="height: 400px;">
							<img src="{{ asset('media/section6/concession-Volkswagen.jpg') }}" alt="Photo de la concession Volkswagen" class="w-100 h-100 object-fit-cover">
							<div class="overlay-text position-absolute bottom-0 start-0 w-100 p-4">
								<h3 class="text-white fw-bold text-uppercase">Un article</h3>
								<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{#############################
#       SEVENTH SECTION        #
##############################}
<section class="bg-light py-5" style="min-height: 90vh;">
	<div class="container-fluid h-75">
		<div class="col d-flex flex-column justify-content-center align-items-center">
			<div class="row mt-4">
				<h2 class="text-uppercase fw-bolder fs-2">Formulaire de contact</h2>
			</div>

			<div class="row w-50 mt-5">
				<div class="row">
					<p>je m'adresse à la concession :</p>
				</div>
				<div class="row mb-3">
					<select class="form-select w-100" aria-label="Un bouton avec plusieurs choix possibles pour s'adresser à une concession">
						<option value="" class="my-hover-select" disabled selected hidden>choisir votre destinataire</option>
						<option value="1" class="my-hover-select">volkswagen - Espace Saint Maximin</option>
						<option value="2" class="my-hover-select">Audi - Espace Saint Maximin</option>
						<option value="3" class="my-hover-select">Seat - Saint Maximin Automobiles</option>
						<option value="4" class="my-hover-select">Skoda - Saint Maximin Automobiles</option>
						<option value="5" class="my-hover-select">Honda - Apogès Motors</option>
						<option value="6" class="my-hover-select">Ducatti - Apogès Motors</option>
					</select>
				</div>
			</div>

			<div class="row w-50 mt-15">
				<p>objet :</p>
				<div class="row mb-3">
					<select class="form-select" aria-label="Un bouton avec plusieurs choix possibles pour choisir un objet">
						<option value="" disabled selected hidden>choisir votre objet</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</section>


{#############################
#       HEIGHTH SECTION        #
##############################}

<section class="bg-body-secondary py-5" style="min-height: 90vh">
	<div class="container-xl bg-light w-75 p-5 shadow-lg bg-body-tertiary rounded">
		<div class="col">

			<div class="row">
				<h2 class="text-uppercase fw-bolder mb-4">Prendre rendez-vous</h2>
			</div>

			{# PRENOM #}
			<div class="row form-floating mb-3">
				<input type="text" class="form-control input-form-rdv" id="floatingInput"></input>
				<label for="floatingInput" class="text-black ps-0">Prénom</label>
			</div>

			{# NOM #}
			<div class="row form-floating mb-3">
				<input type="text" class="form-control input-form-rdv" id="floatingInput"></input>
				<label for="floatingInput" class="text-black ps-0">Nom</label>
			</div>

			{# ADRESSE MAIL #}
			<div class="row form-floating mb-3">
				<input type="email" class="form-control input-form-rdv" id="floatingInput"></input>
				<label for="floatingInput" class="text-black ps-0">Adresse mail</label>
			</div>

			{# N° TELEPHONE #}
			<div class="row form-floating mb-3">
				<input type="tel" class="form-control input-form-rdv" id="floatingInput" minlength="10" maxlength="13" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"></input>
				<label for="floatingInput" class="text-black ps-0">Téléphone</label>
			</div>

			{# ADRESSE POSTAL #}
			<div class="row form-floating mb-3 w-100">
				<input type="text" class="form-control input-form-rdv fs-6" id="floatingInput"></input>
				<label for="floatingInput" class="text-black ps-0">Adresse Postal</label>
			</div>

			{# VILLE #}
			<div class="row gap-3">
				<div class="row form-floating mb-3 w-75">
					<input type="text" class="form-control input-form-rdv" id="floatingInput"></input>
					<label for="floatingInput" class="text-black">Ville</label>
				</div>

				{# CODE POSTAL #}
				<div class="row form-floating mb-3 w-25">
					<input type="text" class="form-control input-form-rdv" id="floatingInput"></input>
					<label for="floatingInput" class="text-black" minlength="5" maxlength="5" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">Code Postal</label>
				</div>
			</div>

			{# MODELE VEHICULE #}
			<div class="row gap-3">
				<div class="row form-floating mb-3 w-75">
					<input type="text" class="form-control input-form-rdv" id="floatingInput"></input>
				<label for="floatingInput" class="text-black">Modèle du véhicule</label>
			</div>

			{# DATE ESSAIE #}
			<div class="row form-floating mb-3 w-25">
				<input type="date" class="form-control input-form-rdv" id="floatingInput"></input>
			<label for="floatingInput" class="text-black">Date essaie souhaitée</label></div></div>


			{# MESSAGE #}
			<div class="row mt-5">
				<p class="text-body ps-0">Message</p>
				<textarea name="" id="content-message" class="w-100 bg-transparent border border-dark border-opacity-75 rounded-1" style="height: 150px; resize: none;"></textarea>
			</div>

			{# BOUTON #}
			<div class="row d-flex justify-content-end mt-5">
				<button class="btn btn-dark px-3 py-2 rounded-1 fw-semibol" style="width: 190px">Envoyer</button>
			</div>
		</div>
	</div>
</section>

<footer class="bg-light py-5">
    <div class="container">
        <div class="row">
            <!-- Section Carte + Adresses -->
            <div class="col-md-3 mb-4">
                {# <img src="{{ asset('images/map.png') }}" alt="Carte Saint-Maximin" class="img-fluid mb-3"> #}
				<div id="map" style="width: 50%; height: 125px;"></div>
                
                <p class="mb-1"><strong>ESPACE SAINT-MAXIMIN</strong><br>
                280 rue de la Marseillaise<br>
                60740 Saint Maximin</p>
                
                <p class="mb-1"><strong>SAINT-MAXIMIN AUTOMOBILES</strong><br>
                122 rue de la Marseillaise<br>
                60740 Saint Maximin</p>
                
                <p class="mb-0"><strong>APOGÉE MOTORS</strong><br>
                170 rue de la Marseille<br>
                60742 ST-MAXIMIN Cedex</p>
            </div>

            <!-- Section Marques -->
            <div class="col-md-3 mb-4">
                <h5>MARQUES</h5>
                <ul class="list-unstyled">
                    <li>Audi</li>
                    <li>Volkswagen</li>
                    <li>Seat</li>
                    <li>Skoda</li>
                    <li>Honda</li>
                    <li>Ducati</li>
                </ul>
            </div>

            <!-- Section CB Groupe -->
            <div class="col-md-3 mb-4">
                <h5>CB GROUPE</h5>
                <ul class="list-unstyled">
                    <li>Accueil</li>
                    <li>Qui sommes nous ?</li>
                    <li>Occasion</li>
                    <li>Neuf</li>
                    <li>Service après vente</li>
                    <li>Actualité</li>
                </ul>
            </div>

            <!-- Section En savoir plus -->
            <div class="col-md-3 mb-4">
                <h5>EN SAVOIR PLUS</h5>
                <ul class="list-unstyled">
                    <li>FAQ</li>
                    <li>Contact</li>
                    <li>Recrutement</li>
                    <li>Mentions légales</li>
                    <li>Conditions générales d'utilisation</li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<script>
	const myCarousel = document.querySelector('#articlesCarousel');
	new bootstrap.Carousel(myCarousel, {
		interval: 2000, 
		ride: 'carousel'
	})
</script>


<style>
	.bg-blur {
		position: absolute;
		inset: 0;
		background-image: url('{{ asset('media/fond-de-page.jpeg') }}');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		filter: blur(8px);
		transform: scale(1.1);
		z-index: 0;
	}

	section > .position-relative {
		z-index: 1;
	}

	.bg--dark {
		background-color: #000000ff;
	}

	.my-hr {
		border: 0;
		border-top: 2px solid #000000ff;
		height: 0;
		margin-left: 15px;
	}

	.carousel-card::after  {
    	content: "";
    	position: absolute;
    	top: 0;
    	left: 0;
   		width: 100%;
    	height: 100%;
    	background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,0.65) 100%);
	}

	.annonceType {
		width: 100%;
		height: 30px;
		display: flex;
		justify-content: center;
	}

	.annonceType p {
		color: #fff;
		margin: 0;
		line-height: 30px;
	}

	.btn-mi {
		width: 100%;
		height: 40px;
		text-transform: uppercase;
		color: #fff;
		border: none;
		background-color: #000000ff;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	.btn-mi:hover {
		background-color: #333333;
	}

	.hover-zoom {
		transition: transform 0.4s ease;
	}
	.hover-zoom:hover {
		transform: scale(1.05);
	}

	.overlay {
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.5s ease, visibility 0.5s ease;
	}

	.position-relative:hover .overlay {
		opacity: 1;
		visibility: visible;
	}

	.my-hover-select:hover {
		background-color: #000000ff !important;
		color: #fff !important;
	}

	.input-form-rdv {
		border: none;
		border-bottom: 1px solid black;
		border-radius: 0px;
		background: transparent;
	}


/* EXTENDS BOOTSTRAP */

/* =============================== */
/*            MARGIN (%)           */
/* =============================== */

/* TOP */
.mt-10 { margin-top: 10%; }
.mt-15 { margin-top: 15%; }
.mt-25 { margin-top: 25%; }
.mt-50 { margin-top: 50%; }
.mt-75 { margin-top: 75%; }

/* RIGHT */
.me-25 { margin-right: 25%; }
.me-50 { margin-right: 50%; }
.me-75 { margin-right: 75%; }

/* BOTTOM */
.mb-25 { margin-bottom: 25%; }
.mb-50 { margin-bottom: 50%; }
.mb-75 { margin-bottom: 75%; }

/* LEFT */
.ms-25 { margin-left: 25%; }
.ms-50 { margin-left: 50%; }
.ms-75 { margin-left: 75%; }



/* =============================== */
/*          PADDING (%)            */
/* =============================== */

/* TOP */
.pt-25 { padding-top: 25%; }
.pt-50 { padding-top: 50%; }
.pt-75 { padding-top: 75%; }

/* RIGHT */
.pe-25 { padding-right: 25%; }
.pe-50 { padding-right: 50%; }
.pe-75 { padding-right: 75%; }

/* BOTTOM */
.pb-25 { padding-bottom: 25%; }
.pb-50 { padding-bottom: 50%; }
.pb-75 { padding-bottom: 75%; }

/* LEFT */
.ps-25 { padding-left: 25%; }
.ps-50 { padding-left: 50%; }
.ps-75 { padding-left: 75%; }

/* =============================== */
/* 		  (LEFT & RIGHT)           */
/* =============================== */

/* LEFT */

.px-10 { padding-left: 10%; padding-right: 10% }
.px-15 { padding-left: 15%; padding-right: 15%}
.px-25 { padding-left: 25%; padding-right: 10%}
.px-50 { padding-left: 50%; padding-right: 10%}
.px-75 { padding-left: 75%; padding-right: 75%}

/* =============================== */
/*        POSITION (%)             */
/* =============================== */
/* (pour les position-absolute)   */
/* =============================== */

.top-25 { top: 25%; }
.top-50 { top: 50%; }
.top-75 { top: 75%; }

.end-25 { right: 25%; }
.end-50 { right: 50%; }
.end-75 { right: 75%; }

.bottom-25 { bottom: 25%; }
.bottom-50 { bottom: 50%; }
.bottom-75 { bottom: 75%; }

.start-25 { left: 25%; }
.start-50 { left: 50%; }
.start-75 { left: 75%; }
.start-95 { left: 95%; }

</style>

{% endblock %}

